
<!DOCTYPE html>
<html>
  <head>
    <title>徒然日記</title>
    <%= csrf_meta_tags %>
    
<meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
<header>
  <ul>
    <li><a href="/">ホーム</a></li>
    <li><%=link_to "一覧",blogs_path %></li>
    <li><%=link_to "つぶやく",new_blog_path %></li>
    <% if logged_in? %>
    <li><%= link_to "お気に入り", user_path(current_user.id) %></li>
    <li><%= link_to'ブログ一覧画面を確認する',blogs_path %></li>
    <li><%= link_to 'ユーザー一覧', users_path %></li>
    <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
    <% else %>
    <li><%= link_to "Sign up", new_user_path %></li>
    <li><%= link_to "Login", sessions_path %></li>
    <% end %>
  </ul>
</header>

    <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

   <div class ="main">
    <%= yield %>
   </div>
  
<footer>
  <p>KAORI SASAKI</p>
  <p>© 2015-2016 Copyright DIVE INTO CODE.</p>
</footer>
</body>
</html>